@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

html,
body {
	font-family: 'Roboto', sans-serif;
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    color: #666;
	background: #fff;
	overflow-y: auto;
	overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 68px;
    padding: 0 14%;
    margin: 0;
    z-index: 999;
    background: #fff;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: auto;
    height: 100%;
    line-height: 1;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo img {
    height: 45px;
    margin: 0 5px 0 0;
}

.links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

.links a {
    position: relative;
    display: block;
    float: right;
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background: #FF9E1F;
    cursor: pointer;
    text-decoration: none;
}

footer {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 4% 14%;
    margin: 0;
    background: #e7ecfb;
}

footer .logo {
    font-size: 18px;
}

footer .logo img {
    height: 58px;
    filter: grayscale(100%);
}

footer .links {
    height: 58px;
}

footer .links a {
    padding: 0;
    margin: 0 20px 0 0;
    color: #000a25;
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
}

footer .links a:last-child {
    margin: 0;
}

.copy {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    margin: 4% 0 0 0;
}

main {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100% - 68px);
    padding: 0;
    margin: 0;
}

section {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.title {
    font-family: 'Merriweather', serif;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #000a25;
    margin: 0 0 4% 0;
    text-align: center;
}

.category {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 4% 13%;
    margin: 0;
}

.option {
    position: relative;
    display: block;
    float: left;
    width: calc((100% / 5) - 2%);
    height: auto;
    padding: 20px 0;
    margin: 0 1%;
    cursor: pointer;
    background: #e7ecfb;
    border-radius: 10px;
    text-decoration: none;
    outline: 0;
}

.option img {
    display: block;
    margin: 0 auto;
    height: 140px;
}

.name {
    font-family: 'Merriweather', serif;
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    line-height: 1;
    padding: 0;
    margin: 15px 0 0 0;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.name .url {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    float: left;
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: lowercase;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: auto;
    padding: 4% 14%;
    margin: 0;
    background: #e7ecfb;
}

.info {
    position: relative;
    display: block;
    float: left;
    width: 60%;
    height: auto;
    padding: 0;
    margin: 0 40% 0 0;
    z-index: 666;
}

.head {
    font-family: 'Merriweather', serif;
    display: block;
    float: left;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: #000a25;
    margin: 0 0 20px 0;
}

.head-sub {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    color: #535b62;
}

.head i,
.head-sub i {
    font-style: normal;
    color: #FF9E1F;
}

.update {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 1;
    color: #535b62;
}

.insurance {
    position: absolute;
    display: block;
    bottom: 0;
    right: 14%;
    height: 320px;
    padding: 0;
    margin: 0;
}

.drop {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 40px 0 0 0;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background: #FF9E1F;
    box-shadow: none;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.select {
    position: relative;
    display: block;
    float: left;
    width: calc(100% - 240px);
    height: 50px;
    padding: 0;
    color: #666;
    margin: 0 40px 0 0;
    background: #fff;
    border-radius: 4px;
}

.select select {
    display: none;
}

.select-items {
    position: absolute;
    width: 100%;
    top: 53px;
    left: 0;
    z-index: 666;
    background: #fff;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 7%);
}

.select-items div,
.select-selected {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}

.select-items div:hover,
.same-as-selected {
    background: rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

.select-selected:after {
    font-family: "Ionicons";
    content: "\f123";
    position: absolute;
    display: flex;
    align-self: center;
    justify-content: center;
    top: 0;
    right: 15px;
    width: 15px;
    height: 100%;
    padding: 0;
    margin: 0;
    transform: rotate(0deg);
    transition: all .2s ease;
}

.select-selected.select-arrow-active:after {
    transform: rotate(-180deg);
}

.select-hide {
    display: none;
}

.disclaimer {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 20px 0 0 0;
}

.open {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: left;
    width: auto;
    font-size: 14px;
    font-weight: 700;
    color: #535b62;
    cursor: pointer;
    text-decoration: underline;
}

.open ion-icon {
    font-size: 18px;
    margin: 0 0 0 2px;
}

.text {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    line-height: 1;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #535b62;
    transition: all .3s ease;
}

.show {
    height: auto;
    opacity: 1;
    margin: 20px 0 0 0;
}

.overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.5);
}

.modal {
    position: relative;
    display: block;
    float: left;
    width: 500px;
    height: auto;
    padding: 40px;
    margin: 0;
    background: #fff;
    border-radius: 5px;
    transition: all .3s ease;
}

.progress {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.dot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 15px 0 0;
    color: #999;
    font-size: 16px;
    font-weight: 700;
    background: #e7ecfb;
    border-radius: 50%;
    transition: all .3s ease;
}

.dot:last-child {
    margin: 0;
}

.active {
    color: #fff;
    background: #FF9E1F;
}

.question {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 40px 0 0 0;
}

.question:nth-child(1) {
    display: block;
}

.question-name {
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 20px;
    color: #999;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

form select {
    font-family: "Ionicons", "Roboto";
    position: relative;
    display: block;
    float: left;
    width: 60%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    margin: 0 20% 0;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}

form input {
    position: relative;
    display: block;
    float: left;
    width: 60%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0 20% 15px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: 0;
    text-align: center;
}

.error {
    color: red;
}

.error::-webkit-input-placeholder {
    color: red;
}

form button {
    position: relative;
    display: block;
    float: left;
    width: 60%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0 20% 0;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #FF9E1F;
    border: 0;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    text-align: center;
}

.helper {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 40px 0 0 0;
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
    text-align: center;
}

@media only screen and (max-width: 1000px) {

    nav {
        padding: 0 10%;
        height: 50px;
    }

    .logo {
        font-size: 12px;
    }

    .logo img {
        height: 40px;
        margin: 0 5px 0 0;
    }

    .links a {
        font-size: 12px;
        padding: 6px 10px;
    }

    .insurance {
        display: none;
    }

    header {
        padding: 15% 10%;
    }

    .info {
        width: 100%;
        margin: 0;
    }

    .head {
        font-size: 30px;
        margin: 0 0 10% 0;
    }

    .head-sub {
        font-size: 16px;
    }

    .drop {
        margin: 10% 0 0 0;
    }

    .select {
        width: 70%;
        height: 40px;
        line-height: 40px;
        margin: 0 5% 0 0;
    }

    .button {
        width: 25%;
        height: 40px;
        font-size: 12px;
        margin: 0;
    }

    .select-items div,
    .select-selected {
        height: 40px;
        line-height: 40px;
        font-size: 12px;
    }

    .select-items {
        top: 43px;
    }

    .category {
        padding: 15% 6%;
    }

    .title {
        font-size: 22px;
        margin: 0 0 15% 0;
    }

    .option {
        width: 46%;
        margin: 0 2% 4%;
    }

    .option:last-child {
        margin: 0 2% 0;
    }

    .option img {
        height: 90px;
    }

    .name {
        font-size: 22px;
        margin: 5% 0 0 0;
    }

    .name .url {
        margin: 5% 0 0 0;
    }

    footer {
        padding: 10%;
    }

    footer .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer .logo img {
        height: 50px;
    }

    footer .logo {
        font-size: 14px;
        margin: 0 0 5% 0;
    }

    footer .links a {
        font-size: 12px;
        margin: 0 10px;
        text-align: center;
    }

    footer .links a:last-child {
        margin: 0 10px;
    }

    footer .links {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .copy {
        font-size: 12px;
        text-align: center;
        margin: 5% 0 0 0;
    }

    .update {
        margin: 5% 0 0 0;
        font-size: 14px;
    }

    .disclaimer {
        margin: 5% 0 0 0;
    }

    .open {
        font-size: 12px;
    }

    .text {
        font-size: 14px;
        font-weight: 300;
        margin: 5% 0 0 0;
    }

    .open ion-icon {
        font-size: 16px;
    }

    .modal {
        width: 80%;
        padding: 10%;
    }

    form input {
        width: 100%;
        height: 35px;
        line-height: 35px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5%;
        font-size: 12px;
    }

    form select {
        width: 100%;
        height: 35px;
        line-height: 35px;
        margin: 0;
        font-size: 12px;
    }

    form button {
        width: 100%;
        height: 35px;
        line-height: 35px;
        margin: 0;
        font-size: 12px;
    }

    .question-name {
        font-size: 16px;
        margin: 0 0 5% 0;
    }

    .question {
        margin: 15% 0 0 0;
    }

    .helper {
        font-size: 12px;
        margin: 15% 0 0 0;
    }

    .dot {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }
}